<div class="card border-primary mb-3">
    <div class="card-header">Titulo</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Primary card title</h5>

      <table class="table table-bordered table-striped">
          <thead>
              <tr>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let cliente of clientes">
                  <td></td>
              </tr>
          </tbody>
      </table>
    </div>
</div>